@use 'sass:color';
@use './variables' as *;
@use './mixins' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Actor', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: $text-primary;
  background-color: $bg-primary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Actor', sans-serif;
}

#root {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: none;
  @include transition(color);

  &:hover {
    color: color.adjust($primary-color, $lightness: -10%);
  }
}

button {
  border-radius: $border-radius-md;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $bg-secondary;
  cursor: pointer;
  @include transition(all);

  &:hover {
    border-color: $primary-color;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

// Утилиты для скроллбара
.scrollable {
  @include custom-scrollbar;
}

// Утилиты для текста
.text-ellipsis {
  @include text-ellipsis;
}

