.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  text-align: center;
}

.home-page__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.home-page__subtitle {
  font-size: 1.2rem;
  color: #666;
}

.home-page__loading {
  font-size: 1.2rem;
  color: #666;
}

